{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<section class="contact-section">
      <div class="container">
        <div class="col-12">
            <h1 class="contact-title">Get in Touch</h1>
        </div>
        <div class="pc-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.222666301422!2d73.86178831479012!3d25.094322842025093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39686b21c760a18d%3A0xf4c5a20a145ddf83!2sNaitik%20Diamond%20Tools!5e0!3m2!1sen!2sin!4v1588786740840!5m2!1sen!2sin" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         </div>
         <div class="mobile-map">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.222666301422!2d73.86178831479012!3d25.094322842025093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39686b21c760a18d%3A0xf4c5a20a145ddf83!2sNaitik%20Diamond%20Tools!5e0!3m2!1sen!2sin!4v1588786740840!5m2!1sen!2sin" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
            <div class="row">

                <div class="col-lg-8">

                </div>
                <br>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Bhagwanda Village, near Morchana</h3>
                            <p>Kankroli, Rajsamand 313324 (Rajasthan)</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><a href="tel:+919414174580"><i class="ti-tablet"></i></a></span>
                        <div class="media-body">
                            <a href="tel:+919414174580"><h3>9414174580</h3></a>
                            <p>Tap on above phone numebr to call us!</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><a href="mailto:naitikdiamondtools@yahoo.com"><i class="ti-email"></i></a></span>
                        <div class="media-body">
                            <a href="mailto:naitikdiamondtools@yahoo.com"><h3>naitikdiamondtools@yahoo.com</h3></a>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ================ contact section end ================= -->
{% endblock %}
