<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Naitik Diamond Tools</title>
    <link rel="shortcut icon" href="{% static 'Untitled-5-trans.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <!-- NAVBAR CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
        <link rel="stylesheet" href="assets/css/styles.css">

      <!-- CSS FROM TEMPLATE -->
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/new.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">
</head>

<body>
  <!-- <style>.navbar.navbar-light.navbar-expand-md.navigation-clean {
  background-color: #164192;
  color: white;
}</style> -->
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'Untitled-5-trans-solo.png' %}"alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header style="background-color:white;">
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                              <a href="{% url 'index' %}"><img id="logo-main-img"
                                src="{% static 'Untitled-5-trans-solo.png' %}" alt=""></a>
                            </div>

                        </div>
                        <div class="col" id="nav-logo" style="margin-left:50px;">
                            &emsp;Naitik Diamond Tools
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a style="font-size:20px;" href="{% url 'index' %}">Home</a></li>
                                        <li class=""><a style="font-size:20px;" href="#">Our Products</a>
                                            <ul class="submenu">
                                                <li><a href="/2"> Gangsaw Segment</a></li>
                                                <li><a href="/1"> Multi Blade Segment</a></li>
                                                <li><a href="/3"> Wiresaw Pearls Chain</a></li>
                                                <li><a href="/4"> Circular Saw</a></li>
                                                <li><a href="/5"> Calibration Tools</a></li>
                                            </ul>
                                        </li>

                                        <li><a style="font-size:20px;" href="{% url 'contact-us' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">

                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>

      {% block body_block %}
      {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>

    <!-- NAVBAR JAVASCRIPT -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>

        <!-- JS here -->

      		<!-- All JS Custom Plugins Link Here here -->
              <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
      		<!-- Jquery, Popper, Bootstrap -->
      		<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
              <script src="{% static 'assets/js/popper.min.js' %}"></script>
              <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      	    <!-- Jquery Mobile Menu -->
              <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

      		<!-- Jquery Slick , Owl-Carousel Plugins -->
              <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
              <script src="{% static 'assets/js/slick.min.js' %}"></script>

      		<!-- One Page, Animated-HeadLin -->
              <script src="{% static 'assets/js/wow.min.js' %}"></script>
      		<script src="{% static 'assets/js/animated.headline.js' %}"></script>
              <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

      		<!-- Scrollup, nice-select, sticky -->
              <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
              <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
      		    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

              <!-- contact js -->
              <script src="{% static 'assets/js/contact.js' %}"></script>
              <script src="{% static 'assets/js/jquery.form.js' %}"></script>
              <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
              <script src="{% static 'assets/js/mail-script.js' %}"></script>
              <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

      		<!-- Jquery Plugins, main Jquery -->
              <script src="{% static 'assets/js/plugins.js' %}"></script>
              <script src="{% static 'assets/js/main.js' %}"></script>
              <script src="{% static 'assets/js/new.js' %}"></script>
              <script src="{% static 'assets/js/form-validation.js' %}"></script>
              <!-- subscribe part here -->
 <section class="subscribe_part" style="padding-top: 150px;">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-8">
         <div class="subscribe_part_content">
           <h2>Do we have a deal?</h2>
           <p>If you are interested in any of our products or just feel like
             asking any query to us, feel free to contact us.</p>

             <form id="new-form" name="query-form" class="" method="POST">
               {% csrf_token %}
             <p id="label"for="">Enter either your Email Id or your Phone number so that we can get back to you:</p>
             <input class="form-control valid" name="email-phone" id="email" type="email" onfocus="this.placeholder = ''"
             onblur="this.placeholder = 'Enter email address or Phone number'" placeholder="Enter email address or Phone number">
             <div class="subscribe_form">
               <textarea class="form-control w-100" name="actual-query" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message/Query'" placeholder=" Enter Message/Query"></textarea>
               <br><br>
               <a type="submit" style="color: white;" class="btn" onclick="validateForm()">Submit your Query</a><br><br>
             </div>

           </form>
           </div>
         </div>
       </div>
     </div>
     <!-- subscribe part end -->
     <!-- Footer bottom -->
     <div class="container row">
       <div style="margin-left: 50px;"class="row">
         <div class="footer-copy-right">
           <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights
             reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by
             <a href="https://colorlib.com" target="_blank">Colorlib</a>
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
           </div>
           </div>

         </div>
   </section>


</body>

</html>
