{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<!-- slider Area Start -->
      <div class="slider-area ">
          <!-- Mobile Menu -->
          <div class="slider-active">
              <div class="single-slider slider-height" data-background="{% static '/bg-new.png' %}">
                  <div class="container">
                      <div class="row d-flex align-items-center justify-content-between">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                              <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                  <img src="assets/img/hero/hero_man.png" alt="">
                              </div>
                          </div>
                          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
                              <div class="hero__caption">
                                <br><br>
                                  <!-- <span data-animation="fadeInRight" data-delay=".4s">Leading tool manufacturer</span> -->
                                  <h1 data-animation="fadeInRight" data-delay=".6s">Naitik <br>Diamond <br>Tools</h1>
                                  <p data-animation="fadeInRight" data-delay=".8s">Leading Cutting<br>Tool Manufacturer</p>
                                  <!-- Hero-btn -->
                                  <!-- <div class="hero__btn" data-animation="fadeInRight" data-delay="1s">
                                      <a href="industries.html" class="btn hero-btn">Shop Now</a>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <!-- slider Area End-->
      <div class="container-fluid">
          <!-- Section Tittle -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-tittle text-center mb-85">
                    <br><br><br>
                      <h2>Variety of Products Available</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            {% for product in products %}
              <div class="col-xl-4 col-lg-6">
                  <div class="single-category mb-30">
                      <div class="category-img">
                        <a href="{{ product.id }}">
                          <img class="home-imgs" src="{{ product.image.url }}" alt=""></a><br><br>
                          <div class="text-center category-caption">
                              <a href="{{ product.id }}"><h2>{{ product.name }}</h2></a>
                              <span class="best"><a href="">Best New Deals</a></span>
                              <span class="collection">New Collection</span>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}

          </div>
      </div>

{% endblock %}
