{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<!-- Mobile Menu -->
<div class="slider-area">
<div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/cover.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center">
                    <h2>{{ product_detail.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- slider Area End-->

<!--================Single Product Area =================-->
    <section class="product_list section_padding">
<div class="product_image_area">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12">
  <div class="category-image product_img_slide owl-carousel">
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg1.url }}" alt="#" class="img-fluid">
    </div>
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg2.url }}" alt="#" class="img-fluid">
    </div>
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg3.url }}" alt="#" class="img-fluid">
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="col-lg-8">
  <div class="single_product_text text-center">
    <h3>Foam filling cotton slow <br>
        rebound pillows</h3>
    <p>
        Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness. Credibly innovate granular internal or organic sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas. with optimal networks.
    </p>
    <div class="card_area">
        <div class="product_count_area">
            <p>Quantity</p>
            <div class="product_count d-inline-block">
                <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
            </div>
            <p>$5</p>
        </div>
      <div class="add_to_cart">
          <a href="#" class="btn_3">add to cart</a>
      </div>
    </div>
  </div>
</div>
</section>

<!--================End Single Product Area =================-->

{% endblock %}
