{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<!-- Mobile Menu -->
<div class="slider-area">
<div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/cover.png' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap text-center">
                    <h2>{{ product_detail.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- slider Area End-->

<!--================Single Product Area =================-->
    <section class="product_list section_padding">
<div class="product_image_area">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-12">
  <div class="category-image product_img_slide owl-carousel">
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg1.url }}" alt="#" class="img-fluid">
    </div>
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg2.url }}" alt="#" class="img-fluid">
    </div>
    <div class="single_product_img">
      <img src="{{ product_detail.coverimg3.url }}" alt="#" class="img-fluid">
    </div>
  </div>
</div>
</div>
</div>
</div>
<section class="my-table">
  <div class="container">

  <div class="row">
					<div class="col-md-3">
            <div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="country">Countries</div>
							<div class="visit">Visits</div>
							<div class="percentage">Percentages</div>
						</div>
						<div class="table-row">
							<div class="serial">01</div>
							<div class="country"> <img src="assets/img/elements/f1.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-1" role="progressbar" style="width: 80%"
										aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">02</div>
							<div class="country"> <img src="assets/img/elements/f2.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-2" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">03</div>
							<div class="country"> <img src="assets/img/elements/f3.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-3" role="progressbar" style="width: 55%"
										aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">04</div>
							<div class="country"> <img src="assets/img/elements/f4.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-4" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">05</div>
							<div class="country"> <img src="assets/img/elements/f5.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-5" role="progressbar" style="width: 40%"
										aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">06</div>
							<div class="country"> <img src="assets/img/elements/f6.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-6" role="progressbar" style="width: 70%"
										aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">07</div>
							<div class="country"> <img src="assets/img/elements/f7.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-7" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">08</div>
							<div class="country"> <img src="assets/img/elements/f8.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-8" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most
							of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
							online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the
							online casino
							industry came up with a solution and new online casinos started taking root. These began to
							operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from
							them legal. A major
							part of this was enlisting electronic banking systems that would accept this new
							clarification and start doing
							business with me. Listed in this article are the electronic banking systems that accept
							players from the United
							States that wish to play in online casinos.</p>
					</div>
				</div>

      </div>
</section>
<div class="section-top-border">
  <h2 class="mb-30"></h2>

<div class="container">


  <div class="row">
    <div class="col-md-6 col-lg-3 text-center">
          <div class="mx-auto service-box mt-5"><i class="my-icon fas fa-crosshairs fa-5x" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="500" data-aos-once="true"></i><p></p>
              <h3 class="mb-3">Precise Cutting</h3>
              <p style="color: white;  font-family:'Comfortaa'">We provide home delivery service!</p>
          </div>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
          <div class="mx-auto service-box mt-5"><i class="my-icon fas fa-check fa-5x" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="500" data-aos-once="true"></i><p></p>
              <h3 class="mb-3">Quality Assured</h3>
              <p style="color: white;  font-family:'Comfortaa'">We provide home delivery service!</p>
          </div>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
          <div class="mx-auto service-box mt-5"><i class="my-icon fas fa-heartbeat fa-5x" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="500" data-aos-once="true"></i><p></p>
              <h3 class="mb-3">Long Life</h3>
              <p style="color: white;  font-family:'Comfortaa'">We provide home delivery service!</p>
          </div>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
          <div class="mx-auto service-box mt-5"><i class="my-icon fas fa-handshake fa-5x" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="500" data-aos-once="true"></i><p></p>
              <h3 class="mb-3">Continuous Support</h3>
              <p style="color: white;  font-family:'Comfortaa'">We provide home delivery service!</p>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <blockquote class="generic-blockquote">
        {{ product_detail.description }}
      </blockquote>
    </div>

  </div>
  </div>

</div>
<!-- <div class="col-lg-8">
  <div class="single_product_text text-center">
    <h3>Foam filling cotton slow <br>
        rebound pillows</h3>
    <p>
        Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness. Credibly innovate granular internal or organic sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas. with optimal networks.
    </p>
    <div class="card_area">
        <div class="product_count_area">
            <p>Quantity</p>
            <div class="product_count d-inline-block">
                <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
            </div>
            <p>$5</p>
        </div>
      <div class="add_to_cart">
          <a href="#" class="btn_3">add to cart</a>
      </div>
    </div>
  </div>
</div> -->
</section>

<!--================End Single Product Area =================-->

{% endblock %}
