.home-imgs{
  border: solid 1px black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

#scrollUp{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.hero__caption{
  text-align: right;
}

#label{
  color: white;
}

input{
  border-radius: 10px;
}
